
      .attribution {
        font-size: 11px;
        text-align: center;
        position: relative;
        display: inline-block;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
      main {
        width: 1440px;
        height: auto;
        background-color: hsl(217, 54%, 11%);
        position: absolute;
      }
      h1 {
        color: hsl(0, 0%, 100%);
      }
      article {
        font-family: "Outfit", sans-serif;
        font-size: 18;
        margin: 50%;
        width: 300px;
        height: 530px;
        background-color: hsl(216, 50%, 16%);
        display: inline-block;
        position: relative;
        border-radius: 10px;
      }
      .NFT {
        width: 250px;
        position: absolute;
        padding: 25px;
        display: inline-block;
      }

      section2 {
        padding-top: 280px;
        padding-left: 25px;
        text-align: left;
        position: absolute;
        display: inline-block;
        font-weight: 300;
        color: hsl(215, 51%, 70%);
      }
      section3 {
        margin: auto;
        padding-top: 385px;
        padding-left: 25px;
        position: absolute;
        font-weight: 500;
        color: hsl(215, 51%, 70%);
        text-align: center;
        display: inline-block;
      }

      .ethereum {
        width: 7.5px;
        display: inline-block;
        margin-left: auto;
        margin-right: 3px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
      }

      .clock {
        width: 12px;
        display: inline-block;
        margin-left: auto;
        margin-right: 3px;
        position: relative;
      }

      section4 img {
        margin-top: auto;
        padding-top: 5px;
        padding-left: 20px;
        width: 20px;
        display: inline-block;
        position: relative;
      }

      section4 {
        margin-left: 0px;
        margin-right: auto;
        padding-top: 450px;
        position: absolute;
        display: inline-block;
        text-align: justify;
        font-weight: 300;
        color: white;
      }
      span {
        color: hsl(215, 51%, 70%);
      }
   